html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#tempDiv {
    display: flex;
    margin-right: 80px;
    gap: 5px;
}

#cityName {
    margin-top: 12.5px;
}

#temp {
    margin-top: 12.5px;
    margin-left: 5px;
}

/* ===== CSS FOR NEWS ===== */

#container {
    position: relative;
    display: flex;
    gap: 5em;
}

#newsContainer {
    height: 50%;
    width: 800px;
    box-shadow: 3px 3px 3px 3px black;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.btn {
    background-color: #7c7c7c2b;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

#requiredContainer {
    height: 40%;
    width: 300px;
    box-shadow: 3px 3px 3px 3px black;
    background-color: rgb(240, 240, 240);
    
}