html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#tempDiv {
    display: flex;
    margin-right: 80px;
    gap: 5px;
}

#cityName {
    margin-top: 12.5px;
}

#temp {
    margin-top: 12.5px;
    margin-left: 5px;
}