@model CloudWeb.Models.Team

@{
    ViewData["Title"] = "Kustuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kustuta</h1>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi loendisse</a>
    </form>
</div>
