@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Meist</h1>
    <p>CloudWeb - tarkvaraarendusettevõte, mis arendab spetsialiseeritud tarkvara, veebisaite ja ka spetsiaalseid tööriistu oma projektide haldamiseks.</p>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="text-align: center;">
        <div id="showNews" class="card">
            <img src="https://static.life.ru/publications/2022/7/19/691126209796.8171.jpeg" id="urltoImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" id="title">Title</h5>
                <p id="description" class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li id="publishedAt" class="list-group-item">A second item</li>
                <li id="author" class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <button id="back" class="btnSelect">&#11178;</button>
                <button id="forward" class="btnSelect">&#11179;</button>
            </div>
            <div id="inputContainer" style="margin-bottom: 10px;">
                <input type="text" placeholder="Type article name..." id="inputText" />
                <input type="button" value="&#10140;" id="btnEnter" />
            </div>
        </div>
    </div>
</div>