@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>About us</h1>
    <p>CloudWeb - software development company, which develops highly specialized software, websites and also special tools for managment your own projects.</p>
    <div id="container">
        <div id="newsContainer" class="newsDiv">
            <button id="back" class="btnSelect">&#11178;</button>
            <button id="forward" class="btnSelect">&#11179;</button>
            <hr />
            <h2 id="title">Google news</h2>
            <p id="description">Elon Mask has crushed the Twitter.</p>
            <img src="https://static.life.ru/publications/2022/7/19/691126209796.8171.jpeg" alt="image_is_null" id="urltoImage" width=300/>
        </div>
        <div id="requiredContainer" class="newsDiv">
            <div id="inputContainer" style="margin-top: 10px;">
                <input type="text" placeholder="Type article name..." id="inputText" />
                <input type="button" value="&#10140;" id="btnEnter" />
            </div>
            <p>News categories:</p>
            <ul id="listOfCategories">
                <li><button>Google</button></li>
                <li><button>Sony</button></li>
                <li><button>Microsoft</button></li>
                <li><button>Apple</button></li>
                <li><button>Twitter</button></li>
            </ul>
        </div>
    </div>
    <br/>
    <label for="customRange2" class="form-label" id="formLabel">Example range</label>
    <input type="range" class="form-range" min="0" max="5" id="customRange2">
</div>