<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CloudWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: rgb(220, 71, 22); max-height: 70px">
            <div class="container-fluid" id="navbarContainer">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="About">CloudWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                           <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Companies" asp-action="Index">Ettevõtte divisjon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Index">Töötajad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Teams" asp-action="Index">Meeskond</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="Index">Kliendid</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Index">Tooted</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="Index">Korraldusi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Role" asp-action="Index">Rollid</a>
                            </li>
                        } else if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Companies" asp-action="Index">Ettevõtte divisjon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Create2">Tooted</a>
                            </li>
                        }
                    </ul>
                    <button id="btnNews" style="background-color: #FF8000; border-color: #FF8000;" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Uudised</button>
                    <button class="btn btn-primary" style="background-color: #FF8000; border-color: #FF8000; margin-right: 20px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Kaart</button>
                    <div id="tempDiv">
                        <p id="cityName">Tallinn:</p>
                        <p id="temp"></p>
                        <img src="" alt="icon" id="image">
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" id="mainCont">     
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 650px;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4060.495499773091!2d24.704581064279182!3d59.41226213533823!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc372ff05bb27e9f4!2sTallinna%20T%C3%B6%C3%B6stushariduskeskus!5e0!3m2!1set!2see!4v1670319121476!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="text-align: center;"> 
                <div id="showNews" class="card">
                    <img src="https://static.life.ru/publications/2022/7/19/691126209796.8171.jpeg" id="urltoImage" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="title">Title</h5>
                        <p id="description" class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li id="publishedAt" class="list-group-item">A second item</li>
                        <li id="author" class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <button id="back" class="btnSelect">&#11178;</button>
                        <button id="forward" class="btnSelect">&#11179;</button>
                    </div>
                    <div id="inputContainer" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Type article name..." id="inputText" />
                        <input type="button" value="&#10140;" id="btnEnter" />
                    </div>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
